body {
    font-family: Arial;
    background: #194ebf;
    padding: 20px;
  }
  
  section {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  h1 { 
    color: #ffffff;
   }
  .complete {
    text-decoration: line-through;
    color: red;
  }
  
  button { 
    color: #ffffff;
    background-color: #194ebf;
   }